<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sutran.sd.sdapi.mapper.SdTrainTaskMapper">

    <update id="startPreTask">
        UPDATE sd_train_task
        SET new_status=1,pre_start_time=#{preStartTime}
        WHERE id=#{preTaskId}
    </update>

    <update id="completePreTask">
        UPDATE sd_train_task
        SET status=1,new_status=2
        <if test="reason!=null and reason!=''">,reason=#{reason}</if>
        <if test="preEndTime!=null">,pre_end_time=#{preEndTime}</if>
        WHERE id=#{preTaskId}
    </update>

    <update id="submitTrainTaskById">
        UPDATE sd_train_task
        SET new_status=3,model_name=#{modelName},train_params=#{trainParams},submit_time=#{submitTime}
        WHERE id=#{preTaskId}
    </update>

    <update id="startTrainTask">
        UPDATE sd_train_task
        SET new_status=4,task_id=#{taskId},gpu_pool=#{sdGpuPool},start_time=#{startTime}
        WHERE id=#{preTaskId}
    </update>

</mapper>

