<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sutran.sd.sdapi.mapper.SdUserTaskMapper">

    <resultMap type="com.sutran.sd.sdapi.modules.system.vo.SdUserTaskVo" id="SdUserTaskVoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="taskId" column="task_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="category" column="category" jdbcType="INTEGER"/>
        <result property="isRedraw" column="is_redraw" jdbcType="INTEGER"/>
        <result property="consumeTime" column="consume_time" jdbcType="INTEGER"/>
        <result property="queueTime" column="queue_time" jdbcType="INTEGER"/>
        <result property="reason" column="reason" jdbcType="VARCHAR"/>
        <result property="belongUserId" column="belong_user_id" jdbcType="INTEGER"/>
        <result property="belongUserName" column="belong_user_name" jdbcType="VARCHAR"/>
        <result property="crtTime" column="crt_time" jdbcType="TIMESTAMP"/>
        <result property="updTime" column="upd_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <delete id="deleteTaskByTaskId">
        DELETE FROM sd_user_task WHERE task_id=#{taskId} AND status IN (0,1,2,3)
    </delete>

    <select id="selectAllList" resultMap="SdUserTaskVoMap">
        SELECT A.*
        FROM sd_user_task AS A
        <where>
            <if test="userId!=null">AND A.belong_user_id=#{userId}</if>
            <if test="category!=null">AND A.category=#{category}</if>
            <if test="status!=null">AND A.status=#{status}</if>
        </where>
        ORDER BY A.task_id DESC
    </select>

    <select id="getDoingTask" resultType="java.lang.String">
        SELECT task_id FROM sd_user_task WHERE category=#{category} AND belong_user_id=#{userId} AND status IN (0,1) ORDER BY task_id DESC LIMIT 1
    </select>

    <select id="selectStatusByTaskId" resultType="java.lang.Integer">
        SELECT status FROM sd_user_task WHERE task_id=#{taskId} AND belong_user_id=#{userId}
    </select>

    <select id="selectGridUrlByTaskId" resultType="java.lang.String">
        SELECT file_url FROM sd_user_model_file WHERE task_id=#{taskId} AND category=2 LIMIT 1
    </select>

</mapper>

