<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sutran.sd.sdapi.mapper.SdUserModelFileMapper">

    <resultMap type="com.sutran.sd.sdapi.modules.system.vo.SdUserModelFileVo" id="SdUserModelFileVoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="taskId" column="task_id" jdbcType="INTEGER"/>
        <result property="category" column="category" jdbcType="INTEGER"/>
        <result property="isRedraw" column="is_redraw" jdbcType="INTEGER"/>
        <result property="prompt" column="prompt" jdbcType="VARCHAR"/>
        <result property="promptDesc" column="prompt_desc" jdbcType="VARCHAR"/>
        <result property="promptZh" column="prompt_zh" jdbcType="VARCHAR"/>
        <result property="summonWord" column="summon_word" jdbcType="VARCHAR"/>
        <result property="negativePrompt" column="negative_prompt" jdbcType="VARCHAR"/>
        <result property="negativePromptZh" column="negative_prompt_zh" jdbcType="VARCHAR"/>
        <result property="modelStrength" column="model_strength" jdbcType="VARCHAR"/>
        <result property="initImg" column="init_img" jdbcType="VARCHAR"/>
        <result property="loraModelUrl" column="lora_model_url" jdbcType="VARCHAR"/>
        <result property="fileUrl" column="file_url" jdbcType="VARCHAR"/>
        <result property="fileInfo" column="file_info" jdbcType="VARCHAR"/>
        <result property="fileParameters" column="file_parameters" jdbcType="VARCHAR"/>
        <result property="modelName" column="model_name" jdbcType="VARCHAR"/>
        <result property="loraModelId" column="lora_model_id" jdbcType="INTEGER"/>
        <result property="loraTitle" column="lora_title" jdbcType="VARCHAR"/>
        <result property="loraTitleZh" column="lora_title_zh" jdbcType="VARCHAR"/>
        <result property="loraInfo" column="lora_info" jdbcType="VARCHAR"/>
        <result property="belongUserId" column="belong_user_id" jdbcType="INTEGER"/>
        <result property="belongUserName" column="belong_user_name" jdbcType="VARCHAR"/>
        <result property="crtTime" column="crt_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <delete id="batchDelByIds">
        DELETE FROM sd_user_model_file WHERE id IN <foreach collection="ids" open="(" item="id" separator="," close=")">#{id}</foreach> AND belong_user_id=#{userId}
    </delete>

    <delete id="removeUserModelFileByTaskId">
        DELETE FROM sd_user_model_file WHERE task_id=#{taskId}
    </delete>

    <delete id="deleteTaskById">
        DELETE FROM sd_user_task WHERE task_id=#{taskId} AND belong_user_id=#{userId}
    </delete>

    <select id="selectListByTaskIdsAndUserId" resultMap="SdUserModelFileVoMap">
        SELECT * FROM sd_user_model_file WHERE task_id IN <foreach collection="taskIds" open="(" item="taskId" separator="," close=")">#{taskId}</foreach> AND belong_user_id=#{userId}
    </select>

    <select id="selectAllList" resultMap="SdUserModelFileVoMap">
        SELECT A.*,B.url AS lora_model_url
        FROM sd_user_model_file AS A LEFT JOIN sd_user_model AS B ON B.id=A.lora_model_id
        WHERE A.belong_user_id=#{userId} AND A.category IN (0,1)
        <if test="taskId!=null and taskId!=''">AND A.task_id=#{taskId}</if>
        <if test="category!=null">AND A.category=#{category}</if>
        <if test="startTime!=null and startTime!='' and endTime!=null and endTime!=''">AND A.crt_time BETWEEN CONCAT(#{startTime},' 00:00:00') AND CONCAT(#{endTime},' 23:59:59')</if>
        <if test="keyword!=null and keyword!=''">AND (A.prompt_zh LIKE CONCAT('%',#{keyword},'%') OR A.lora_title LIKE CONCAT('%',#{keyword},'%'))</if>
        ORDER BY A.id DESC
    </select>

    <select id="selectFirstUrlByTaskIdAndUserId" resultMap="SdUserModelFileVoMap">
        SELECT A.*,B.url AS lora_model_url
        FROM sd_user_model_file AS A LEFT JOIN sd_user_model AS B ON B.id=A.lora_model_id
        WHERE A.task_id=#{taskId} AND A.belong_user_id=#{userId} ORDER BY A.id LIMIT 1
    </select>

    <select id="selectAllListByTaskId" resultMap="SdUserModelFileVoMap">
        SELECT A.*,B.url AS lora_model_url
        FROM sd_user_model_file AS A LEFT JOIN sd_user_model AS B ON B.id=A.lora_model_id
        WHERE A.belong_user_id=#{userId} AND task_id=#{taskId}
    </select>

    <select id="listImgUrlByTaskId" resultType="java.lang.String">
        SELECT DISTINCT file_url FROM sd_user_model_file WHERE task_id=#{taskId} AND belong_user_id=#{userId}
    </select>

    <select id="listImgUrlByIds" resultType="java.lang.String">
        SELECT DISTINCT file_url FROM sd_user_model_file WHERE id IN <foreach collection="ids" open="(" item="id" separator="," close=")">#{id}</foreach>
    </select>

    <select id="selectModelTestDataAndTaskInfo" resultType="com.alibaba.fastjson2.JSONObject">
        SELECT A.file_url AS gridImgUrl,B.task_id AS taskId,B.status AS taskStatus,B.consume_time AS consumeTime,B.queue_time AS queueTime,B.reason AS failReason
        FROM sd_user_model_file AS A LEFT JOIN sd_user_task AS B ON A.task_id=B.task_id AND B.category=2
        WHERE A.lora_model_id=#{loraModelId} AND A.category=2
        ORDER BY A.id DESC
    </select>

    <select id="selectTaskIdsByIds" resultType="java.lang.String">
        SELECT DISTINCT task_id FROM sd_user_model_file WHERE id IN <foreach collection="ids" open="(" item="id" separator="," close=")">#{id}</foreach>
    </select>

</mapper>

