<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sutran.sd.design.mapper.SdPresaleDeliveryMapper">
    
    <resultMap type="com.sutran.sd.design.domain.SdPresaleDelivery" id="SdPresaleDeliveryResult">
        <result property="id"    column="id"    />
        <result property="deliveryNo"    column="delivery_no"    />
        <result property="projectId"    column="project_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="productTitle"    column="product_title"    />
        <result property="quantity"    column="quantity"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="recipientName"    column="recipient_name"    />
        <result property="recipientPhone"    column="recipient_phone"    />
        <result property="recipientAddress"    column="recipient_address"    />
        <result property="trackingNumber"    column="tracking_number"    />
        <result property="deliveryStatus"    column="delivery_status"    />
        <result property="deliveryTime"    column="delivery_time"    />
        <result property="senderUserId"    column="sender_user_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="com.sutran.sd.design.vo.PresaleDeliveryListVO" id="PresaleDeliveryListVOResult">
        <result property="id"    column="id"    />
        <result property="deliveryNo"    column="delivery_no"    />
        <result property="projectId"    column="project_id"    />
        <result property="projectTitle"    column="project_title"    />
        <result property="orderId"    column="order_id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="productTitle"    column="product_title"    />
        <result property="quantity"    column="quantity"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="recipientName"    column="recipient_name"    />
        <result property="recipientPhone"    column="recipient_phone"    />
        <result property="recipientAddress"    column="recipient_address"    />
        <result property="trackingNumber"    column="tracking_number"    />
        <result property="deliveryStatus"    column="delivery_status"    />
        <result property="deliveryStatusText"    column="delivery_status_text"    />
        <result property="deliveryTime"    column="delivery_time"    />
        <result property="senderUserId"    column="sender_user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSdPresaleDeliveryVo">
        select id, delivery_no, project_id, order_id, order_no, user_id, user_name, product_title, 
               quantity, total_amount, recipient_name, recipient_phone, recipient_address, 
               tracking_number, delivery_status, delivery_time, sender_user_id, 
               create_by, create_time, update_by, update_time 
        from sd_presale_delivery
    </sql>

    <select id="selectSdPresaleDeliveryById" parameterType="Long" resultMap="SdPresaleDeliveryResult">
        <include refid="selectSdPresaleDeliveryVo"/>
        where id = #{id}
    </select>

    <select id="selectSdPresaleDeliveryList" parameterType="com.sutran.sd.design.domain.SdPresaleDelivery" resultMap="SdPresaleDeliveryResult">
        <include refid="selectSdPresaleDeliveryVo"/>
        <where>  
            <if test="deliveryNo != null  and deliveryNo != ''"> and delivery_no = #{deliveryNo}</if>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="productTitle != null  and productTitle != ''"> and product_title like concat('%', #{productTitle}, '%')</if>
            <if test="recipientName != null  and recipientName != ''"> and recipient_name like concat('%', #{recipientName}, '%')</if>
            <if test="recipientPhone != null  and recipientPhone != ''"> and recipient_phone = #{recipientPhone}</if>
            <if test="trackingNumber != null  and trackingNumber != ''"> and tracking_number = #{trackingNumber}</if>
            <if test="deliveryStatus != null "> and delivery_status = #{deliveryStatus}</if>
            <if test="senderUserId != null "> and sender_user_id = #{senderUserId}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectPageSdPresaleDeliveryList" parameterType="com.sutran.sd.design.domain.SdPresaleDelivery" resultMap="SdPresaleDeliveryResult">
        <include refid="selectSdPresaleDeliveryVo"/>
        <where>  
            <if test="sdPresaleDelivery.deliveryNo != null  and sdPresaleDelivery.deliveryNo != ''"> and delivery_no = #{sdPresaleDelivery.deliveryNo}</if>
            <if test="sdPresaleDelivery.projectId != null "> and project_id = #{sdPresaleDelivery.projectId}</if>
            <if test="sdPresaleDelivery.orderId != null "> and order_id = #{sdPresaleDelivery.orderId}</if>
            <if test="sdPresaleDelivery.orderNo != null  and sdPresaleDelivery.orderNo != ''"> and order_no = #{sdPresaleDelivery.orderNo}</if>
            <if test="sdPresaleDelivery.userId != null "> and user_id = #{sdPresaleDelivery.userId}</if>
            <if test="sdPresaleDelivery.userName != null  and sdPresaleDelivery.userName != ''"> and user_name like concat('%', #{sdPresaleDelivery.userName}, '%')</if>
            <if test="sdPresaleDelivery.productTitle != null  and sdPresaleDelivery.productTitle != ''"> and product_title like concat('%', #{sdPresaleDelivery.productTitle}, '%')</if>
            <if test="sdPresaleDelivery.recipientName != null  and sdPresaleDelivery.recipientName != ''"> and recipient_name like concat('%', #{sdPresaleDelivery.recipientName}, '%')</if>
            <if test="sdPresaleDelivery.recipientPhone != null  and sdPresaleDelivery.recipientPhone != ''"> and recipient_phone = #{sdPresaleDelivery.recipientPhone}</if>
            <if test="sdPresaleDelivery.trackingNumber != null  and sdPresaleDelivery.trackingNumber != ''"> and tracking_number = #{sdPresaleDelivery.trackingNumber}</if>
            <if test="sdPresaleDelivery.deliveryStatus != null "> and delivery_status = #{sdPresaleDelivery.deliveryStatus}</if>
            <if test="sdPresaleDelivery.senderUserId != null "> and sender_user_id = #{sdPresaleDelivery.senderUserId}</if>
        </where>
        order by create_time desc
    </select>

    <insert id="insertSdPresaleDelivery" parameterType="com.sutran.sd.design.domain.SdPresaleDelivery" useGeneratedKeys="true" keyProperty="id">
        insert into sd_presale_delivery
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deliveryNo != null and deliveryNo != ''">delivery_no,</if>
            <if test="projectId != null">project_id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="orderNo != null and orderNo != ''">order_no,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="productTitle != null and productTitle != ''">product_title,</if>
            <if test="quantity != null">quantity,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="recipientName != null and recipientName != ''">recipient_name,</if>
            <if test="recipientPhone != null and recipientPhone != ''">recipient_phone,</if>
            <if test="recipientAddress != null and recipientAddress != ''">recipient_address,</if>
            <if test="trackingNumber != null and trackingNumber != ''">tracking_number,</if>
            <if test="deliveryStatus != null">delivery_status,</if>
            <if test="deliveryTime != null">delivery_time,</if>
            <if test="senderUserId != null">sender_user_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deliveryNo != null and deliveryNo != ''">#{deliveryNo},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="productTitle != null and productTitle != ''">#{productTitle},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="recipientName != null and recipientName != ''">#{recipientName},</if>
            <if test="recipientPhone != null and recipientPhone != ''">#{recipientPhone},</if>
            <if test="recipientAddress != null and recipientAddress != ''">#{recipientAddress},</if>
            <if test="trackingNumber != null and trackingNumber != ''">#{trackingNumber},</if>
            <if test="deliveryStatus != null">#{deliveryStatus},</if>
            <if test="deliveryTime != null">#{deliveryTime},</if>
            <if test="senderUserId != null">#{senderUserId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSdPresaleDelivery" parameterType="com.sutran.sd.design.domain.SdPresaleDelivery">
        update sd_presale_delivery
        <trim prefix="set" suffixOverrides=",">
            <if test="deliveryNo != null and deliveryNo != ''">delivery_no = #{deliveryNo},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="productTitle != null and productTitle != ''">product_title = #{productTitle},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="recipientName != null and recipientName != ''">recipient_name = #{recipientName},</if>
            <if test="recipientPhone != null and recipientPhone != ''">recipient_phone = #{recipientPhone},</if>
            <if test="recipientAddress != null and recipientAddress != ''">recipient_address = #{recipientAddress},</if>
            <if test="trackingNumber != null and trackingNumber != ''">tracking_number = #{trackingNumber},</if>
            <if test="deliveryStatus != null">delivery_status = #{deliveryStatus},</if>
            <if test="deliveryTime != null">delivery_time = #{deliveryTime},</if>
            <if test="senderUserId != null">sender_user_id = #{senderUserId},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSdPresaleDeliveryById" parameterType="Long">
        delete from sd_presale_delivery where id = #{id}
    </delete>

    <delete id="deleteSdPresaleDeliveryByIds">
        delete from sd_presale_delivery
        where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectByDeliveryNo" parameterType="String" resultMap="SdPresaleDeliveryResult">
        <include refid="selectSdPresaleDeliveryVo"/>
        where delivery_no = #{deliveryNo}
    </select>

    <select id="selectByOrderNo" parameterType="String" resultMap="SdPresaleDeliveryResult">
        <include refid="selectSdPresaleDeliveryVo"/>
        where order_no = #{orderNo}
        order by create_time desc
    </select>

    <select id="selectProjectDeliveryList" resultMap="PresaleDeliveryListVOResult">
        select d.id, d.delivery_no, d.project_id, p.title as project_title, d.order_id, d.order_no, 
               d.user_id, d.user_name, d.product_title, d.quantity, d.total_amount,
               d.recipient_name, d.recipient_phone, d.recipient_address, d.tracking_number, d.delivery_status,
               case d.delivery_status 
                   when 1 then '待发货'
                   when 2 then '已发货'
                   else '未知状态'
               end as delivery_status_text,
               d.delivery_time, d.sender_user_id, d.create_time, d.update_time
        from sd_presale_delivery d
        left join sd_presale_project p on d.project_id = p.id
        where d.project_id = #{projectId}
        order by d.create_time desc
    </select>

    <select id="selectUserDeliveryList" resultMap="PresaleDeliveryListVOResult">
        select d.id, d.delivery_no, d.project_id, p.title as project_title, d.order_id, d.order_no, 
               d.user_id, d.user_name, d.product_title, d.quantity, d.total_amount,
               d.recipient_name, d.recipient_phone, d.recipient_address, d.tracking_number, d.delivery_status,
               case d.delivery_status 
                   when 1 then '待发货'
                   when 2 then '已发货'
                   else '未知状态'
               end as delivery_status_text,
               d.delivery_time, d.sender_user_id, d.create_time, d.update_time
        from sd_presale_delivery d
        left join sd_presale_project p on d.project_id = p.id
        where d.user_id = #{userId}
        order by d.create_time desc
    </select>

    <select id="selectSenderDeliveryList" resultMap="PresaleDeliveryListVOResult">
        select d.id, d.delivery_no, d.project_id, p.title as project_title, d.order_id, d.order_no, 
               d.user_id, d.user_name, d.product_title, d.quantity, d.total_amount,
               d.recipient_name, d.recipient_phone, d.recipient_address, d.tracking_number, d.delivery_status,
               case d.delivery_status 
                   when 1 then '待发货'
                   when 2 then '已发货'
                   else '未知状态'
               end as delivery_status_text,
               d.delivery_time, d.sender_user_id, d.create_time, d.update_time
        from sd_presale_delivery d
        left join sd_presale_project p on d.project_id = p.id
        where d.sender_user_id = #{senderUserId}
        order by d.create_time desc
    </select>

    <select id="countProjectDelivery" resultType="int">
        select count(1) from sd_presale_delivery where project_id = #{projectId}
    </select>

    <select id="countUserDelivery" resultType="int">
        select count(1) from sd_presale_delivery where user_id = #{userId}
    </select>

</mapper>
