<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sutran.sd.draw.mapper.SdUserModelLogMapper">

    <insert id="insertEntity">
        INSERT INTO sd_user_model_log (id, user_id, user_name, model_name, lora_model_id, lora_title, model_strength, crt_time)
        VALUES (#{id},#{userId},#{userName},#{modelName},#{loraModelId},#{loraTitle},#{modelStrength},#{crtTime})
        ON DUPLICATE KEY UPDATE use_times=use_times+1,crt_time=VALUES(crt_time)
    </insert>

</mapper>

