<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sutran.sd.draw.mapper.SdUserTaskMapper">

    <resultMap type="com.sutran.sd.draw.domain.vo.SdUserTaskVo" id="SdUserTaskVoMap">
        <result property="taskId" column="task_id" jdbcType="INTEGER"/>
        <result property="firstImgUrl" column="task_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="category" column="category" jdbcType="INTEGER"/>
        <result property="promptId" column="promptId" jdbcType="INTEGER"/>
        <result property="prompt" column="prompt" jdbcType="VARCHAR"/>
        <result property="promptZh" column="prompt_zh" jdbcType="VARCHAR"/>
        <result property="nodeId" column="node_id" jdbcType="INTEGER"/>
        <result property="nodeUrl" column="node_url" jdbcType="VARCHAR"/>
        <result property="initImgList" column="init_img_list" jdbcType="VARCHAR"/>
        <result property="isRedraw" column="is_redraw" jdbcType="INTEGER"/>
        <result property="reason" column="reason" jdbcType="VARCHAR"/>
        <result property="belongUserId" column="belong_user_id" jdbcType="INTEGER"/>
        <result property="belongUserName" column="belong_user_name" jdbcType="VARCHAR"/>
        <result property="crtTime" column="crt_time" jdbcType="TIMESTAMP"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <result property="updTime" column="upd_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectAllList" resultMap="SdUserTaskVoMap">
        SELECT A.*
        FROM sd_user_task AS A
        <where>
            <if test="userId!=null">AND A.belong_user_id=#{userId}</if>
            <if test="category!=null">AND A.category=#{category}</if>
            <if test="status!=null">AND A.status=#{status}</if>
        </where>
        ORDER BY A.task_id DESC
    </select>

    <select id="getDrawTaskInfoByTaskId" resultMap="SdUserTaskVoMap">
        SELECT A.*, B.base_url AS node_url FROM sd_user_task AS A LEFT JOIN sd_draw_node AS B ON A.node_id = B.id WHERE A.task_id = #{taskId}
    </select>

</mapper>

